:root{
    font-family: sans-serif;
    --color-blue:#0085ff;
    --color-gradient-top:#ff4f4f;
    --color-gradient-bottom:#ff7d1b;
}
body{
    margin: 0;
}
h1{
    margin: 0;
    text-shadow: 0px 4px 4px #0004;
    width: 15ch;
}

.header{
    height: 50vh;
    background:linear-gradient(to right bottom, var(--color-gradient-top), var(--color-gradient-bottom));
    color: white; 
    display: grid;
    place-items: center;
    box-shadow: 0px 4px 4px #0004;
    text-align: center;
}
.profile{
    position: relative;
    top: -75px;
    text-align: center;
}

.profile_avatar{
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 4px 4px #0004;

}

.profile_copy{
    margin: 32px auto;
    max-width: 75ch;
    font-style: italic;
}

.profile_social, .footer_social{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    list-style: none;
    color: red;
    
}


.profile_cont{
    margin: 32px auto;
    max-width: 75ch;
    font-style: italic;
     
}

.profile_img{
    min-width: 75ch;
    height: 150px;
}

.profile_final{
display: grid;
background:linear-gradient(to right bottom, var(--color-gradient-top), var(--color-gradient-bottom));
grid-template-columns: auto auto;
height: 20vw;
padding: 50px;


    
    
}

.btn_button{
    display: grid;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 16px;
    background-color:linear-gradient(to right bottom, var(--color-gradient-top), var(--color-gradient-bottom));;
    margin: 7vw 1px 230px 4px;
}

.profile_final h2{
    margin-top: 5vw;
    color: white;
    width: 19ch;
}

.footer{

    box-sizing: border-box;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: #000;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    
    
}

.footer_social{
    margin: 0;
    justify-self: end;
    
}

